.academic__courses__item__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  width: 368px;
  height: 286px;

  /* Preto/branco */

  background: #ffffff;
}
