.experience__botao--demo {
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Preto/branco */

color: #FFFFFF;
border: none;
background-color: #2A7AE4;

  
}
